<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        colors="true"
        testdox="true"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <clover outputFile="tests/reports/coverage.xml"/>
            <html outputDirectory="tests/reports/" lowUpperBound="45" highLowerBound="80"/>
        </report>
    </coverage>
</phpunit>